<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/conditions/          -->
<!-- File Name : new.html.erb                                             -->
<!-- Rev. Date : 06/26/2020                                               -->
<!-- Rev. No.  : 0.0.3                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
	New Condition
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- Not using render _form.html.erb                                      -->
<!-- Now using render _form_new.html.erb                                  -->
<!-- -------------------------------------------------------------------- -->
<!-- <!%= render 'form', condition: @condition %> -->
<%= render 'form_new', condition: @condition %>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using stylesheet "scaffolds.scss".          -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            list / Back                                               -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'List', @condition %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<%= link_to 'Back', conditions_path %>

<!-- Can not call Main Menu or Admin Menu get an error.
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="admin_index">
  Admin Menu
</a>
-->

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using stylesheet "scaffolds.scss".          -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.3
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/21/2020 : 0.0.1  : Original.                                      -->
<!--            :        : Copyed from new.html.erb (books).              -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/26/2020 : 0.0.2  : Copy partial _form.html.erb to                 -->
<!--            :        :              _form_new.html.erb                -->
<!--            :        : Change render _form.html.erb to                -->
<!--            :        :               _form.new.html.erb               -->
<!--            : 0.0.3  : clean up remove unneeded code and comments.    -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
