/*                                                                         */
/* ----------------------------------------------------------------------- */
/* System    : Centos 7.7                                                  */
/*   Name    : peekaboo                                                    */
/* Location  : /home/don/workspace/books/app/assets/stylesheets/           */
/* File Name : scaffolds.css                                               */
/* Rev. Date : 07/25/2020                                                  */
/* Rev. No.  : 0.0.4                                                       */
/* ----------------------------------------------------------------------- */
/*                                                                         */

body {
  /* --------------------------------------------------------------------- */
  /* ffffff or fff = white                                                 */
  /* The noraml default font-size: 16px;                                   */
  /* --------------------------------------------------------------------- */
   */
  background-color: #fff;
  /* color: #333 */;
  /* margin: 33px; */
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  /* line-height: 18px; */
}

a {
  /* --------------------------------------------------------------------- */
  /* 000000 or 000 = black                                                 */
  /* --------------------------------------------------------------------- */
  color: blue;
}

a:hover {
  /* --------------------------------------------------------------------- */
  /* ffffff or fff = white                                                 */
  /* 000000 or 000 = black                                                 */
  /* --------------------------------------------------------------------- */
 color: #fff;
  background-color: #000;
}

#table1 {
  /* --------------------------------------------------------------------- */
  /* You can specify each side to be different.                            */
  /*    Specifing only 1 value will set all sides to that value.           */
  /*      border-style: top right bottom left;                             */
  /*      border-style: top value;                                         */
  /*      border-style: right value;                                       */
  /*      border-style: bottom value;                                      */
  /*      border-style: left value;                                        */
  /*          value can be                                                 */
  /*            dotted         dashed        solid            double       */
  /*            groove - 3D grooved border depends on border color         */
  /*            ridge  - 3D ridge border depends on border color           */
  /*            inset  - 3D inset border depends on border color           */
  /*            outset - 3D outset border depends on border color          */
  /*            none   - no border                                         */
  /*            hidden - nidden border                                     */
  /* --------------------------------------------------------------------- */
  border-style: outset;
  /* border-color: slateblue; */
  border-width: 2px;
}

#links {
  /* --------------------------------------------------------------------- */
  /* padding: top right bottom left;                                       */
  /* --------------------------------------------------------------------- */
  text-align: center;
  padding: 0px 5px 5px 0px;
}

h1 {
  /* --------------------------------------------------------------------- */
  /* The noraml default font-size: 16px;                                   */
  /* For h1 the default font-size: 30px; (about).                          */
  /* padding: top right bottom left;                                       */
  /* --------------------------------------------------------------------- */
  color: green;
  font-size: 33px;
  text-align: center;
  line-height: 0.0;
  /* padding: 0px 0px 0px 0px; */
}

hr {
  /* --------------------------------------------------------------------- */
  /* padding: top right bottom left;                                       */
  /* --------------------------------------------------------------------- */
  background-color: blue;
  height: 4px;
}

#small {
  background-color: orange;
  height: 1px;
  padding: 0px 30px 0px 30px;
}

address {
  color: black;
  padding: 0px;
  line-height: 0px;
}

/* Color
/* ----------------------------------------------------------------------- */
/* Color Codes  :    Color Name                                            */
/* 000 : 000000 : Black                                                    */
/* fff : ffffff : White                                                    */
/*     : 008000 : Green                                                    */
/*     : 00ff00 : Green 1                                                  */
/* f00 : ff0000 : Red                                                      */
/* 00f : 0000ff : Blue                                                     */
/*     :        : Orange                                                   */
/* eee : eeeeee : - Off White                                              */
/* 666 : 666666 : Gray 40                                                  */
/* c00 : cc0000 : - Red                                                    */
/*     : f0f0f0 : Gray 94 - off white                                      */
/*     : 2196F3 : - Light Blue - purple                                    */
/*     :        : Gray - gray                                              */
/*     :        : LightGray - lightgray                                    */
/*     :        :                                                          */
/* ----------------------------------------------------------------------- */


/* Info.                                                                   */
/* ----------------------------------------------------------------------- */
/*  Selector  Example       Example description                            */
/*  .class    .intro      Selects all elements with class="intro".         */
/*  #id       #firstname  Selects the element with id="firstname".         */
/* ----------------------------------------------------------------------- */
/*  *         *           Selects all elements.                            */
/*  element   p           Selects all <p> elements.                        */
/*  element,element,..                                                     */
/*            div,p       Selects all <div> elements and                   */
/*                          all <p> elements.                              */
/* ----------------------------------------------------------------------- */


/*                                                                         */
/* ----------------------------------------------------------------------- */
/* Date Rev.  : Rev. # :     Description                                   */
/* ----------------------------------------------------------------------- */
/* 05/05/2020 : 0.0.1  : Original.                                         */
/* ----------------------------------------------------------------------- */
/* 05/28/2020 : 0.0.2  : Add <hr> to stylesheet.                           */
/*            :        : Add <th> to stylesheet.                           */
/*            :        : Add <h1> to stylesheet.                           */
/* ----------------------------------------------------------------------- */
/* 06/16/2020 : 0.0.3  : Added font-size, text_align,                      */
/*            :        :   line-height to <h1>.                            */
/*            :        : Added <address> to stylesheet.                    */
/*            :        : Added #link to stylesheet.                        */
/*            :        :   Using id="link".                                */
/*            :        : Added #table1 to stylesheet.                      */
/*            :        :   Using id="table1".                              */
/* ----------------------------------------------------------------------- */
/* 07/25/2020 : 0.0.4  : Add Color and Info. sections.                     */
/* ----------------------------------------------------------------------- */
/*            :        :                                                   */
/* ----------------------------------------------------------------------- */
