<!--                                                                   -->
<!-- Tells Rails how to view the new book.                             -->
<!--                                                                   -->
<!-- ----------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                            -->
<!--   Name    : peekaboo                                              -->
<!-- Location  : /home/don/workspace/books/app/view/books/             -->
<!-- File Name : new.html.erb                                          -->
<!-- Rev. Date : 05/08/2020                                            -->
<!-- Rev. No.  : 0.0.1                                                 -->
<!-- ----------------------------------------------------------------- -->
<!--                                                                   -->

<h1>New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>

<!--                                                                   -->
<!-- ----------------------------------------------------------------- -->
<!-- Date Rev.  : Rev.   :     Description                             -->
<!-- ----------------------------------------------------------------- -->
<!-- 05/08/2020 : 0.0.1  : Original.                                   -->
<!-- ----------------------------------------------------------------- -->
<!--            :        :                                             -->
<!-- ----------------------------------------------------------------- -->
