<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- System    : Centos 7.7                                               -->
<!--   Name    : peekaboo                                                 -->
<!-- Location  : /home/don/workspace/books/app/views/books/               -->
<!-- File Name : show.html.erb                                            -->
<!-- Rev. Date : 06/21/2020                                               -->
<!-- Rev. No.  : 0.0.6                                                    -->
<!-- -------------------------------------------------------------------- -->
<!--                                                                      -->

<h1>
	Show Book
</h1>

<!-- -------------------------------------------------------------------- -->
<!-- The notice is a message stating some thing was successfully.         -->
<!-- -------------------------------------------------------------------- -->
<p id="notice"><%= notice %></p>

<!-- -------------------------------------------------------------------- -->
<!-- Call partial _list.html.erb                                          -->
<!-- -------------------------------------------------------------------- -->
<%= render 'list', book: @book %>

<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using stylesheet "scaffolds.scss".          -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!-- Links at bottom of page/screen.                                      -->
<!--            Edit / Search / Back / Maain Menu                         -->
<!-- -------------------------------------------------------------------- -->
<%= link_to 'Edit', edit_book_path(@book) %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/search?q=empty">
  Search
</a>
<!-- This does not work -->
<!--&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
<!--<!%= link_to 'Search', search_path %>-->
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<%= link_to 'Back', books_path %>
&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
<a href="/main_index">
  Main Menu
</a>
            
<!-- -------------------------------------------------------------------- -->
<!-- Draws a horizontal line, Size = 4.                                   -->
<!-- Draws a horizontal using using stylesheet "scaffolds.scss".          -->
<!-- -------------------------------------------------------------------- -->
<!-- <hr size="4" "noshade"> -->
<hr>
</hr>

<!-- -------------------------------------------------------------------- -->
<!--  Table - Address - Section                                           -->
<!--    Row #1 using 2 column.                                            -->
<!-- -------------------------------------------------------------------- -->
<address>
  <table width="100%" border="0">
    <tr>
      <td>
        Don Streeck
      </td>
      <td align="right">
        <font size=-3>
          Rev. 0.0.5
        </font>
      </td>
    </tr>
  </table>
</address>

<!--                                                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- Date Rev.  : Rev. # :     Description                                -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/14/2020 : 0.0.1  : Original.                                      -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/15/2020 : 0.0.2  : Fixed lookup tables.                           -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/28/2020 : 0.0.3  : Remove size and noshade from <hr>.             -->
<!--            :        : Add <hr> to stylesheet.                        -->
<!-- -------------------------------------------------------------------- -->
<!-- 05/29/2020 : 0.0.4  : Create Table inside of Address.                -->
<!--            :        : Add <hr> to stylesheet.                        -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/15/2020 : 0.0.5  : Cleanup remove unneeded code and comments.     -->
<!-- -------------------------------------------------------------------- -->
<!-- 06/21/2020 : 0.0.6  : Add <hr> above the links.                      -->
<!-- -------------------------------------------------------------------- -->
<!--            :        :                                                -->
<!-- -------------------------------------------------------------------- -->
